{% extends "layout.html" %}
{% block content %}
<body id="wallpaper">
    <input type="checkbox" id="menu-toggle"/>
    <label id="trigger" for="menu-toggle"></label>
    <label id="burger" for="menu-toggle"></label>
    <ul id="menu">
        <p id="howto">使い方</p>
        <img id="robot" src="/static/img/robot.png" alt="robot" >
        <p>　この検索エンジンはPythonで書かれています。<br>キーワードを検索ボックスに入力し検索ボタンをクリックするとDBからキーワードとマッチしたURLを探して来て表示してくれます。</p>
        <p>あとは隠しページを用意したある言葉を検索ボックス入力すると行けるよ！言葉はソースコードに隠したよ</p>
        <!-- <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li> -->
    </ul>
    <div class="container-wall">
        <div class="container">
            <img src="/static/img/rush.png" width="auto" height="auto" alt="rush" title="rush">

            <form method="post" action="{{url_for('index')}}"><!-- ここでもう一度サーバーにアクセスしている -->
                <div class="search-bar">
                    <input type="text" class="search-btn" name="keyword" placeholder="キーワードを入力して下さい.">
                    <button type="submit" class="submit-btn" value="search">
                        <svg class="icon icon-search">
                            <use xlink:href="#search" />
                        </svg>
                    </button>
                    
                </div>
            </form>
            <br>   
        </div><!-- container -->
    </div><!-- container-wall -->
    <div class="gif"><img src="/static/img/coffee.gif" width="auto" height="auto" alt="coffee" ></div>
    <!-- 言葉はwataru -->
    
{% endblock %}